main {
    padding: 0px 32px;
    height: 460px;
    overflow-y: scroll;
}
p,h4{
    margin:0px;
}
.product-container {
    max-width: 1100px;
    margin: auto;
    border: 1px solid;
    border-radius: 7px;
    height: 100%;
    padding: 9px;
    position: relative;
}


.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


    .add-product a {
        text-decoration: none;
        padding: 13px;
        color: white;
    }

.product-container form {
    padding: 9px;
    display: flex;
    gap: 12px;
    border: 1px solid;
    border-radius: 7px;
}

table {
    width: 100%;
}

.product-container thead tr {
    height: 36px;
    background: #f3f3f3;
}

.product-container tbody tr {
    height: 36px;
}

.edit-btn {
    text-decoration: none;
    color: white;
    background: #0077cc;
    padding: 3px;
    border-radius: 4px;
}

.del-btn {
    text-decoration: none;
    color: white;
    background: #ff4e4e;
    padding: 3px;
    border-radius: 4px;
    border:none;
}

.create-product {
    max-width: 600px;
    height: 100%;
    padding: 18px;
    background-color: white;
    padding-bottom: 24px;
    border-radius: 8px;
    border: 1px solid;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .create-product form {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    .create-product form div {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }   

 .product-container  form input , .products-container form input {
    width: 270px;
}
     form div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .create-task form label {
        font-weight: 500;
    }

.delete-container {
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

.delete {
    background: #e5e5e5;
    width: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 15px;
    flex-direction: column;
    border-radius: 7px;
}
.hide {
    display: none;
}


.login-container {
    width: 400px;
    background-color: white;
    margin: auto;
    border-radius: 23px;
    box-shadow: black;
    margin-top: 60px;
    padding: 30px;
    border: 1px solid black;
}

.products-container .products .product {
    width: 260px;
    height: 230px;
    background: white;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 4px;
}
img {
    margin-bottom: 20px;
}
.products-container .products {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 17px;
}
.primary-btn {
    border: none;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    background: #0077cc;
}
.logout-btn {
    border: none;
    width: 100px;
    padding: 6px;
    background: #ff7b7b;
}
.account-container {
    min-width: 300px;
    max-width: 600px;
    height: fit-content;
    padding: 12px;
    background-color: white;
    padding-bottom: 16px;
    border-radius: 8px;
    margin: auto;
}

    .account-container h1, h1 {
        font-size: 22px;
    }

.cart-container {
    height: 100%;
    display: flex;
    align-items:center;
    gap: 10px;
    justify-content: space-between;
}

.cart-container .heading {
    display: flex;
    gap: 5px;
    align-items: center;
}
.cart-container .heading span {
    background: #e0e0e0;
    border-radius: 8px;
    padding: 0px 9px;
}
.cart-container .left-part {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    position: relative;
    width: 60%;
}
.cart-container table tbody tr {
    height: 75px;
    margin-top: 0px;
    border: 1px solid;
}
    .cart-container .cs {
        border: 1px solid;
        width: 186px;
        padding: 6px;
        position: absolute;
        bottom: 0px;
        border-radius: 4px;
    }
a {
    text-decoration: none;
    color: black;
}
.cart-container .right-part {
    width: 29%;
    border: 1px solid;
    border-radius: 4px;
    padding: 17px;
    height: 304px;
}
    .cart-container .right-part .data {
        display: flex;
        margin-top: 15px;

        justify-content: space-between;
    }
.cart-container .payment-btn {
    border: none;
    color: white;
    border-radius: 4px;
    padding: 9px 8px;
    background: #0077cc;
    width: 100%;
    margin-top: 30px;
}

#cart-content {
    height: 100%;
}